<h1>Hotels</h1>
<h3>1. Venue Hotel - shangri-La Hotel</h3>
(Very good English service, strongly recommended)

Opened: 1987 Renovated: 2007 Tel: 86-10-68412211<br>
No. 29 Zizhuyuan Road Haidian District, Beijing, 100089, China

Visitors to Beijing will find that the Shangri-La Hotel, Beijing is a fantastic accommodation choice. It is conveniently located just 8km from Beijing West Railway Station. Just a short walk from Chedaogou Metro Station, traveling to most city destinations is a breeze. <br>
Airport pickup can be arranged by the hotel upon request.

<div class="imagetext">
    <img src="{{ site.baseurl }}/images/hotels/hotel1_1.jpg" style="width:49%;"  alt="Hotel from Buda side" />
   <img src="{{ site.baseurl }}/images/hotels/hotel1_2jpg" style="width:49%;"  alt="Hotel from Buda side" /> 
</div>




