$brand-primary:         #2E85C2 !default;
$brand-success:         #3FAD46 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 70%) !default;   // #999
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee



$highlight: #9A0000 !default;
$highlight-darker: #9A0000 !default;
$hfont: #FFFFFF !default;

$program-break-background: #f1f1f1 !default;
$program-keynote-background: #d6dce4 !default;
$program-tutorial-background: #ffffff !default;
$program-workshop-background: #d6dce4 !default;
$program-panel-background: #ffb224 !default;
$program-poster_demo: #a15eff !default;
$program-topic-preview: #708947 !default;
$program-bestccr: #ffffff !default;
$program-bestccr-font: #000000 !default;
$program-industrial-demo-paper: #a09399 !default;
//$program-poster: #e9a7ad !default;
//$program-demo: #aa319c !default;
$program-poster: #ffffff !default;
$program_poster-text-color: #000000 !default;
$program-social: #ed962f !default;
$program-demo: #ffffff !default;
$brand-darker: darken($brand-primary, 20%) !default;
